.yonj_logo {
    font-family: 'Lobster', sans-serif;
}

.yonj_footer_button {
    font-size: .6rem;
}

.yonj_footer{
    text-align: center; 
    margin-top: 2rem;
}

.yonj_header{
    text-align: center; 
    margin: 2rem 0;
}